.container {
	width: 100%;
	height: 100%;
	padding: 2rem;
}

.card {
	width: 100%;
	justify-content: space-between;
	flex-direction: column;

	.text {
		flex-grow: 1;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.body {
			flex-grow: 1;
			min-height: 60vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			:global {
				.public-DraftEditor-content{
					min-height: 50rem;
				}
			}
		}
	}
}
