@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic');

@import "~normalize.css", "mixins.scss";

:global{
    html {
      font-size: 62.5%;
    }

    body {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      background-color: #eFeFeF;
      font-family: Roboto, sans-serif;
      font-size: 1.6rem;
      -webkit-touch-callout: none;
      * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }
    }

    a, abbr, address, article, aside, audio, b, blockquote, body, caption, cite,
    code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1,
    h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label,
    legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span,
    strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
    }

    *, *:before, *:after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6, label, p, button, abbr, a, span, small {
      font-smoothing: antialiased;
      -webkit-font-smoothing: antialiased;
      text-size-adjust: 100%;
    }

    a {
      text-decoration: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    input:not([type="checkbox"]):not([type="radio"]), button {
      outline: none;
      appearance: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    // -- Material design font sizes
    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
      @include typo-display-3($color-contrast: true);
    }

    h1 {
      @include typo-display-3;
    }

    h2 {
      @include typo-display-2;
    }

    h3 {
      @include typo-display-1;
    }

    h4 {
      @include typo-headline;
    }

    h5 {
      @include typo-title;
    }

    h6 {
      @include typo-subhead;
    }

    p {
      @include typo-body-1;
    }
	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';
	}
}
