.card {
	margin: 0 auto;
	width: 40rem;
	height: 70vh;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		width: 80%;
		margin: 1rem auto;
	}
}

.container {
	flex-grow: 1;
	padding-top: 3rem;
	height: 100%;
}
